<div fxLayout="row" fxLayoutAlign="center center">
  <md-card fxFlex="100%" style="padding: 0;">
    <!--<md-toolbar style="position: relative; z-index: 4;">Is this actionable?</md-toolbar>-->
    <!--style="margin-top:-50px;position: relative; z-index: 3;"-->
    <md-card-content>
      <md-tab-group [selectedIndex]="selectedIndex" >
        <md-tab label="0">
          <form #form="ngForm">
            <h3 class="title">{{description}}</h3>
            
            <div fxLayout="column" style="height: 300px" fxLayoutAlign="center center">
              <div fxLayout="column" fxLayout.gt-sm="row">
                <h3 class="question">Is this actionable?</h3>
              </div>
              <div fxLayout="column" fxLayout.gt-sm="row" class="is-actionable-btns">
                  <button md-raised-button 
                  color="accent"
                  (click)="isActionable('Yes')">Yes</button>
                  <button md-raised-button 
                  style="margin-left: 8px;"
                  (click)="isActionable('No')">No</button>

              </div>
            </div>
          </form>
        </md-tab>
        <md-tab label="1" [disabled]="!form.valid">
          <form #form2="ngForm">
            <h3 class="title">{{description}}</h3>
            
            <div fxLayout="column" style="height: 300px" fxLayoutAlign="center center">
              <div fxLayout="column" fxLayout.gt-sm="row">
                <h3 class="question">Does this require multiple steps?</h3>
              </div>
              <div fxLayout="column" fxLayout.gt-sm="row" class="is-actionable-btns">
                  <button md-raised-button 
                  color="accent"
                  (click)="isProject('Yes')">Yes</button>
                  <button md-raised-button 
                  style="margin-left: 8px;"
                  (click)="isProject('No')">No</button>

              </div>
            </div>
          </form>
        </md-tab>
        <md-tab label="2"  [disabled]="!form2.valid">
          <form #form3="ngForm">
            <h3 class="title">{{description}}</h3>
            <div fxLayout="column" style="height: 300px" fxLayoutAlign="center center">
              <div fxLayout="column" fxLayout.gt-sm="row">
                <h3 class="question">How would you categorize it?</h3>
              </div>              
              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-radio-group class="example-radio-group" name="notActionableOptions" [(ngModel)]="notActionable">
                  <md-radio-button class="example-radio-button" checked="false" [value]="trash">Trash?</md-radio-button>
                  <md-radio-button class="example-radio-button" checked="false" [value]="someday">Someday?</md-radio-button>
                  <md-radio-button class="example-radio-button" checked="false" [value]="reference">Reference?</md-radio-button>
                </md-radio-group>
              </div>
            </div>
              <div fxLayout="row" fxLayoutAlign="end center" style="padding-bottom: 16px; padding-right: 16px;">
                <button md-button
                        type="button"
                        (click)="previousStep('isactionable')">Previous</button>

                <button color="primary"
                        md-raised-button
                        style="margin-left: 8px;"
                        [disabled]="!form3.valid"
                        (click)="nextStep('helloworld')"
                        type="button">Next</button>
              </div>            
          </form>
        </md-tab>
        <md-tab label="3"  [disabled]="!form3.valid">
          <div fxLayout="column" style="padding: 16px;">
            <h1>Congratulations!</h1>
            <p>You submitted the form.</p>
          </div>
        </md-tab>
      </md-tab-group>
    </md-card-content>
  </md-card>
</div>
