@import "../../../../../styles/_var";
@import "../../../../../styles/_inbox";

$height__main-toolbar__plus_8px: $height__main-toolbar + 8px;

:host {
  display: block;
  padding: 0px;
  height: calc(100% - #{$height__main-toolbar__plus_8px});
  background: url('/assets/img/backgrounds/2.jpg') no-repeat center center fixed;
  background-size: cover;
}

md-input-container {
  margin: 8px 0;
}
// .mat-tab-labels {
//     height: 0px !important;
// }

.title {
  padding: 30px 30px 10px 30px;
}
.question {

  color: #757575;
  margin-bottom: 25px;
}
.yes-no-btns {
  padding-bottom: 150px;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}